In [30]:
import mysql.connector
import pandas as pd

In [31]:
connection={
    "host":"localhost",
    "user":"root",
    "password":"12345678",
    "database":"Ola_data",
    "port":"3306"
}

## -1. Retreive all the columns from ola_booking

In [65]:
try:
    with mysql.connector.connect(**connection) as conn:
        with conn.cursor() as cur:
            query = "DESC bookings"
            cur.execute(query)

            data = cur.fetchall()
            columns = [col[0] for col in cur.description]
            df = pd.DataFrame(data, columns=columns)

            print("="*20, "Table Structure: bookings", "="*20)
            print(df)
            print("="*84)

except Exception as e:
    print("Database error:", e)

finally:
    print("Its running")

==================== Table Structure: bookings ====================
                                Field          Type Null Key Default Extra
0                                Date          date  YES        None
1                                Time    varchar(5)  YES        None
2                          Booking_ID   varchar(12)  YES        None
3                      Booking_Status   varchar(30)  YES        None
4                         Customer_ID   varchar(20)  YES        None
5                        Vehicle_Type   varchar(20)  YES        None
6                     Pickup_Location   varchar(50)  YES        None
7                       Drop_Location   varchar(50)  YES        None
8                            Avg_VTAT         float  YES        None
9                            Avg_CTAT         float  YES        None
10        Cancelled_Rides_by_Customer           int  YES        None
11  Reason_for_cancelling_by_Customer  varchar(100)  YES        None
12          Cancelled_Rides_by_Driver           int  YES        None
13               Driver_Cancel_Reason  varchar(100)  YES        None
14                   Incomplete_Rides           int  YES        None
15            Incomplete_Rides_Reason   varchar(50)  YES        None
16                      Booking_Value           int  YES        None
17                     Payment_Method   varchar(20)  YES        None
18                      Ride_Distance         float  YES        None
19                     Driver_Ratings         float  YES        None
20                    Customer_Rating         float  YES        None
====================================================================================
Its running

## 0. Retrive all data

In [4]:

try:
    with mysql.connector.connect(**connection) as conn:
        with conn.cursor() as cur:
            query="""select 
                        * 
                    from 
                        bookings
                    """
            cur.execute(query)
            data=cur.fetchall()
            data=pd.DataFrame(data)
            print("="*30," Retrieve all DATA. ","="*30)
            print(data)
            print("="*84)
except Exception as e:
    print("Database error:",e)
finally:
    print("Its running ")

==============================  Retrieve all DATA.  ==============================
               0      1           2                    3          4   \
0      2025-11-26  19:30  CNR8911931  Cancelled by Driver  CUST58375
1      2025-11-19  19:29  CNR3793594          Successfull  CUST79116
2      2025-11-12  14:29  CNR6067877          Successfull  CUST54603
3      2025-11-12  13:41  CNR5806953  Cancelled by Driver  CUST44765
4      2025-11-29  12:29  CNR2376727          Successfull  CUST79667
...           ...    ...         ...                  ...        ...
99995  2025-11-21  17:47  CNR6023920          Successfull  CUST99326
99996  2025-11-28  20:07  CNR1160257  Cancelled by Driver  CUST92094
99997  2025-11-20   3:40  CNR2040255          Successfull  CUST82673
99998  2025-11-10   7:07  CNR6546379          Successfull  CUST51751
99999  2025-11-15   2:14  CNR4678407  Cancelled by Driver  CUST46336

                5              6           7     8      9   ...    11   12  \
0       Prime Plus         Alandi       Warje   NaN    NaN  ...  None  1.0
1       Prime Plus  Sadashiv Peth     JM Road  3.15  12.91  ...  None  NaN
2             Auto         Pimpri     FC Road  4.30  12.95  ...  None  NaN
3             Mini           Camp      Deccan   NaN    NaN  ...  None  1.0
4        Prime SUV         Pashan     Kondhwa  5.99  10.14  ...  None  NaN
...            ...            ...         ...   ...    ...  ...   ...  ...
99995    Prime SUV         Alandi  Magarpatta  5.27   8.85  ...  None  NaN
99996         Auto        JM Road  Kasba Peth   NaN    NaN  ...  None  1.0
99997         Bike          Wakad     Bhosari  2.08  13.73  ...  None  NaN
99998  Prime Sedan         Taljai  Magarpatta  7.47   7.84  ...  None  NaN
99999        eBike       Hadapsar  Magarpatta   NaN    NaN  ...  None  1.0

                                        13  14    15     16           17  \
0            Personal & Car related issues NaN  None    NaN         None
1                                     None NaN  None  234.0          UPI
2                                     None NaN  None  992.0  Credit Card
3      More than permitted people in there NaN  None    NaN         None
4                                     None NaN  None  524.0          UPI
...                                    ...  ..   ...    ...          ...
99995                                 None NaN  None  736.0   Debit Card
99996       The customer was coughing/sick NaN  None    NaN         None
99997                                 None NaN  None  399.0          UPI
99998                                 None NaN  None  133.0         Cash
99999               Customer related issue NaN  None    NaN         None

          18   19   20
0        NaN  NaN  NaN
1       7.12  3.6  4.6
2      19.75  4.9  4.4
3        NaN  NaN  NaN
4      28.05  4.3  4.9
...      ...  ...  ...
99995  18.21  4.4  4.5
99996    NaN  NaN  NaN
99997   9.73  4.8  4.6
99998  33.22  4.4  4.9
99999    NaN  NaN  NaN

[100000 rows x 21 columns]
====================================================================================
Its running

## OLA Data Analyst â€“ SQL Questions

### 1. Retrieve all successful bookings.

In [5]:

try:
    with mysql.connector.connect(**connection) as conn:
        
except Exception as e:
    print("Database error:",e)
finally:
    print("Its running ")

====================  Retrieve all successful bookings..  ====================
               0      1           2            3          4            5   \
0      2025-11-19  19:29  CNR3793594  Successfull  CUST79116   Prime Plus
1      2025-11-12  14:29  CNR6067877  Successfull  CUST54603         Auto
2      2025-11-29  12:29  CNR2376727  Successfull  CUST79667    Prime SUV
3      2025-11-26  20:18  CNR9967310  Successfull  CUST21842         Auto
4      2025-11-14   8:39  CNR9645513  Successfull  CUST97830        eBike
...           ...    ...         ...          ...        ...          ...
67473  2025-11-07  11:50  CNR9926729  Successfull  CUST72015    Prime SUV
67474  2025-11-06  19:56  CNR6998660  Successfull  CUST30521         Auto
67475  2025-11-21  17:47  CNR6023920  Successfull  CUST99326    Prime SUV
67476  2025-11-20   3:40  CNR2040255  Successfull  CUST82673         Bike
67477  2025-11-10   7:07  CNR6546379  Successfull  CUST51751  Prime Sedan

                  6           7     8      9   ...    11    12    13    14  \
0      Sadashiv Peth     JM Road  3.15  12.91  ...  None  None  None  None
1             Pimpri     FC Road  4.30  12.95  ...  None  None  None  None
2             Pashan     Kondhwa  5.99  10.14  ...  None  None  None  None
3             Akurdi   Hinjewadi  2.46   6.17  ...  None  None  None  None
4             Mosshi       Narhe  6.13   8.74  ...  None  None  None  None
...              ...         ...   ...    ...  ...   ...   ...   ...   ...
67473         Taljai        Camp  8.51  11.43  ...  None  None  None  None
67474     Magarpatta    Swargate  2.86   9.22  ...  None  None  None  None
67475         Alandi  Magarpatta  5.27   8.85  ...  None  None  None  None
67476          Wakad     Bhosari  2.08  13.73  ...  None  None  None  None
67477         Taljai  Magarpatta  7.47   7.84  ...  None  None  None  None

         15   16           17     18   19   20
0      None  234          UPI   7.12  3.6  4.6
1      None  992  Credit Card  19.75  4.9  4.4
2      None  524          UPI  28.05  4.3  4.9
3      None  999         Cash  27.13  3.9  4.1
4      None  164          UPI  23.43  4.6  4.7
...     ...  ...          ...    ...  ...  ...
67473  None  426   Debit Card   4.19  3.9  4.9
67474  None  720         Cash  20.81  3.5  4.9
67475  None  736   Debit Card  18.21  4.4  4.5
67476  None  399          UPI   9.73  4.8  4.6
67477  None  133         Cash  33.22  4.4  4.9

[67478 rows x 21 columns]
====================================================================================
Its running

### 2. Count the total number of successful bookings.

In [6]:
try:
    with mysql.connector.connect(**connection) as conn:
        with conn.cursor() as cur:
            query = """
                SELECT COUNT(*) AS total_number_of_successful_booking
                FROM bookings
                WHERE booking_status = 'Successfull';
            """
            cur.execute(query)

            data = cur.fetchall()
            columns = [col[0] for col in cur.description]

            data = pd.DataFrame(data, columns=columns)
            print("="*20," the total number of successful bookings. ","="*20)
            print(data)
            print("="*84)

except Exception as e:
    print("Database error:", e)

finally:
    print("Its running")

====================  the total number of successful bookings.  ====================
   total_number_of_successful_booking
0                               67478
====================================================================================
Its running

### 3. Find the average ride distance for each vehicle type.

In [7]:

try:
    with mysql.connector.connect(**connection) as conn:
        with conn.cursor() as cur:
            query = """
                SELECT 
                   Vehicle_Type ,Round(AVG(Ride_Distance),2) AS Average_Ride_Distance 
                FROM 
                    bookings
                 Group by Vehicle_Type;
            """
            cur.execute(query)

            data = cur.fetchall()
            columns = [col[0] for col in cur.description]

            data = pd.DataFrame(data, columns=columns)
            print("="*20,"the average ride distance for each vehicle type","="*20)
            print(data)
            print("="*90)

except Exception as e:
    print("Database error:", e)

finally:
    print("Its running")

==================== the average ride distance for each vehicle type ====================
  Vehicle_Type  Average_Ride_Distance
0   Prime Plus                  17.85
1         Auto                  18.11
2         Mini                  17.91
3    Prime SUV                  17.85
4        eBike                  17.90
5  Prime Sedan                  18.04
6         Bike                  17.87
==========================================================================================
Its running

### 4. Get the total number of rides cancelled by customers.

In [8]:
try:
    with mysql.connector.connect(**connection) as conn:
        with conn.cursor() as cur:
            query=""" 
                select 
                    count(booking_status) as Total_Number_Of_Cancelled_Ride
                from 
                    bookings
                where
                    Booking_Status="Cancelled by Customer";                
                """
            cur.execute(query)
            data=cur.fetchall()
            column=[col[0] for col in cur.description]
            data=pd.DataFrame(data,columns=column)
            print("="*20," total number of rides cancelled by customers. ","="*20)
            print(data)
            print("="*104)
except Exception as e:
    print("Database error:",e)
finally:
    print("Its running")

====================  total number of rides cancelled by customers.  ====================
   Total_Number_Of_Cancelled_Ride
0                            7630
========================================================================================================
Its running

### 5. List the top 5 customers who booked the highest number of rides.

In [9]:
try:
    with mysql.connector.connect(**connection) as conn:
        with conn.cursor() as cur:
           query=""" 
                   select 
                       Customer_ID,
                       count(*) as Total_Numbers_of_Rides 
                    from 
                        bookings
                    group by Customer_ID
                    order by Total_Numbers_of_Rides Desc limit 5;""" 
           cur.execute(query)
           data=cur.fetchall()
           column=[col[0] for col in cur.description]
           data=pd.DataFrame(data,columns=column)
           print(column)
           print("="*20," the number of rides cancelled by drivers due to personal and car-related issues. ","="*20)
           print(data)
           print("="*104)

except Exception as e:
    print("Database error:",e)
finally:
    print("ALL DONE")

['Customer_ID', 'Total_Numbers_of_Rides']
====================  the number of rides cancelled by drivers due to personal and car-related issues.  ====================
  Customer_ID  Total_Numbers_of_Rides
0   CUST53494                       8
1   CUST30735                       7
2   CUST54071                       7
3   CUST28057                       7
4   CUST76276                       7
========================================================================================================
ALL DONE

### 6. Get the number of rides cancelled by drivers due to personal and car-related issues.

In [10]:

try:
    with mysql.connector.connect(**connection) as conn:
        with conn.cursor() as cur:
            query="""
                    select 
                        count(*) as Rides_Cancelled_By_Drivers_Due_To_Personal_And_Car_Related_Issues
                    from
                        bookings
                    where 
                        Booking_Status='Cancelled by Driver'
                        and
                        Driver_Cancel_Reason='Personal & Car related issues';
                  """
            cur.execute(query)
            data=cur.fetchall()
            column=[col[0] for col in cur.description]
            data=pd.DataFrame(data,columns=column)
            print("="*20," the number of rides cancelled by drivers due to personal and car-related issues. ","="*20)
            print(data)
            print("="*104)

except Exception as e:
    print("Database error:",e)
finally:
    print("ALL DONE")

====================  the number of rides cancelled by drivers due to personal and car-related issues.  ====================
   Rides_Cancelled_By_Drivers_Due_To_Personal_And_Car_Related_Issues
0                                               4884
========================================================================================================
ALL DONE

### 7. Find the maximum and minimum driver ratings for Prime Sedan bookings.

In [11]:
try:
    with mysql.connector.connect(**connection) as conn:
        with conn.cursor() as cur:
            query="""
                    select 
                        Vehicle_type,
                        max(Driver_Ratings) Maximum_Drvier_Rating,
                        min(Driver_Ratings) Minimum_Drvier_Rating
                    from 
                        bookings
                    where
                        Vehicle_type="Prime Sedan";
                    """
            cur.execute(query)
            data=cur.fetchall()
            column=[col[0] for col in cur.description]
            data=pd.DataFrame(data,columns=column)
            print("="*20," maximum and minimum driver ratings for Prime Sedan bookings. ","="*20)
            print(data)
            print("="*104)
            
except Exception as e:
    print("Database error:",e)
finally:
    print("ALL DONE")

====================  maximum and minimum driver ratings for Prime Sedan bookings.  ====================
  Vehicle_type  Maximum_Drvier_Rating  Minimum_Drvier_Rating
0  Prime Sedan                    5.0                    3.5
========================================================================================================
ALL DONE

### 8. Retrieve all rides where payment was made using UPI.

In [12]:
try:
    with mysql.connector.connect(**connection) as conn:
        with conn.cursor() as cur:
            query="""
                  select 
                      customer_id,
                      booking_id,
                      payment_method
                  from
                      bookings
                  where
                      payment_method='UPI';
                  """
            cur.execute(query)
            data=cur.fetchall()
            column=[col[0] for col in cur.description]
            data=pd.DataFrame(data,columns=column)
            print("="*30," all rides where payment was made using UPI. ","="*30)
            print(data)
            print("="*104)
except Exception as e:
    print("Database error:",e)
finally:
    print("ALL DONE")

==============================  all rides where payment was made using UPI.  ==============================
      customer_id  booking_id payment_method
0       CUST79116  CNR3793594            UPI
1       CUST79667  CNR2376727            UPI
2       CUST97830  CNR9645513            UPI
3       CUST73144  CNR5293571            UPI
4       CUST41707  CNR4082725            UPI
...           ...         ...            ...
30393   CUST24631  CNR3921005            UPI
30394   CUST83142  CNR4861346            UPI
30395   CUST19860  CNR1075497            UPI
30396   CUST25157  CNR5781907            UPI
30397   CUST82673  CNR2040255            UPI

[30398 rows x 3 columns]
========================================================================================================
ALL DONE

### 9. Count how many customers paid using UPI.

In [13]:
try:
    with mysql.connector.connect(**connection) as conn:
        with conn.cursor() as cur:
            query="""
                  select 
                      count(*) as Total_Count_Of_Customers_Paid_Using_UPI
                  from
                      bookings
                  where
                      payment_method='UPI';
                  """
            cur.execute(query)
            data=cur.fetchall()
            column=[col[0] for col in cur.description]
            data=pd.DataFrame(data,columns=column)
            print("="*30," all rides where payment was made using UPI. ","="*30)
            print(data)
            print("="*107)
except Exception as e:
    print("Database error:",e)
finally:
    print("ALL DONE")

==============================  all rides where payment was made using UPI.  ==============================
   Total_Count_Of_Customers_Paid_Using_UPI
0                                    30398
===========================================================================================================
ALL DONE

### 10. Find the average customer rating for each vehicle type.

In [14]:
try:
    with mysql.connector.connect(**connection) as conn:
        with conn.cursor() as cur:
            query="""
                  select 
                      Vehicle_type, Round(avg(Customer_Rating),2) as Average_Customer_Rating
                  from
                      bookings
                  group by Vehicle_type;
                  """
            cur.execute(query)
            data=cur.fetchall()
            column=[col[0] for col in cur.description]
            data=pd.DataFrame(data,columns=column)
            print("="*30," all rides where payment was made using UPI. ","="*30)
            print(data)
            print("="*107)
except Exception as e:
    print("Database error:",e)
finally:
    print("ALL DONE")

==============================  all rides where payment was made using UPI.  ==============================
  Vehicle_type  Average_Customer_Rating
0   Prime Plus                     4.24
1         Auto                     4.25
2         Mini                     4.25
3    Prime SUV                     4.25
4        eBike                     4.25
5  Prime Sedan                     4.26
6         Bike                     4.25
===========================================================================================================
ALL DONE

### 11. Calculate the total booking value of rides completed successfully.

In [15]:
try:
    with mysql.connector.connect(**connection) as conn:
        with conn.cursor() as cur:
            query = """
                SELECT 
                    SUM(Booking_Value) AS total_successful_booking_value
                FROM 
                	bookings
                WHERE 
                	Booking_Status = 'Successfull';
            """
            cur.execute(query)

            data = cur.fetchall()
            columns = [col[0] for col in cur.description]

            data = pd.DataFrame(data, columns=columns)
            print("="*20," total booking value of rides completed successfully. ","="*20)
            print(data)
            print("="*84)

except Exception as e:
    print("Database error:", e)

finally:
    print("Its running")

====================  total booking value of rides completed successfully.  ====================
  total_successful_booking_value
0                       30275567
====================================================================================
Its running

### 12. List all incomplete rides along with their reasons.

In [16]:
try:
    with mysql.connector.connect(**connection) as conn:
        with conn.cursor() as cur:
            query = """
                        SELECT 
                            Booking_ID,
                            Incomplete_Rides_Reason
                        FROM 
                        	bookings
                        WHERE 
                        	Booking_Status = 'Incomplete'
                    """
            cur.execute(query)

            data = cur.fetchall()
            columns = [col[0] for col in cur.description]

            data = pd.DataFrame(data, columns=columns)
            print("="*20," all incomplete rides along with their reasons ","="*20)
            print(data)
            print("="*84)

except Exception as e:
    print("Database error:", e)

finally:
    print("Its running")

====================  all incomplete rides along with their reasons  ====================
      Booking_ID Incomplete_Rides_Reason
0     CNR1433345       Vehicle Breakdown
1     CNR8423549             Other Issue
2     CNR4067435         Customer Demand
3     CNR4388608         Customer Demand
4     CNR7489214             Other Issue
...          ...                     ...
5322  CNR7645344       Vehicle Breakdown
5323  CNR8938397       Vehicle Breakdown
5324  CNR8567824       Vehicle Breakdown
5325  CNR8529987         Customer Demand
5326  CNR0131788       Vehicle Breakdown

[5327 rows x 2 columns]
====================================================================================
Its running

##  Bonus / Advanced Analysis Questions (Optional but Strong)

### 13. Calculate the percentage distribution of bookings by booking status.

In [17]:

try:
    with mysql.connector.connect(**connection) as conn:
        with conn.cursor() as cur:
            query="""
                    select 
                        booking_status,
                        Round(count(*)*100.0/(select count(*) from bookings),2) as Percentage
                    from
                        bookings
                    group by
                        booking_status;
                  """
            cur.execute(query)
            data=cur.fetchall()
            column=[col[0] for col in cur.description]
            data=pd.DataFrame(data,columns=column)
            print("="*20,"Calculate the percentage distribution of bookings by booking status.","="*20)
            print(data)
            print("="*110)
except Exception as e:
    print("Database error:",e)
finally:
    print("ALL DONE")

==================== Calculate the percentage distribution of bookings by booking status. ====================
          booking_status Percentage
0    Cancelled by Driver      19.57
1            Successfull      67.48
2             Incomplete       5.33
3  Cancelled by Customer       7.63
==============================================================================================================
ALL DONE

### 14. Compare total revenue generated on weekends vs weekdays.

In [18]:

try:
    with mysql.connector.connect(**connection) as conn:
        with conn.cursor() as cur:
            query="""
                     select 
                         case
                         when
                             DAYOFWEEK(Date) IN (1,7) THEN 'Weekday'
                         else
                             'Weekend'
                         END AS 
                             day_type,
                        sum(booking_value) as Total_Revenue_Generated
                    from 
                        bookings
                    where
                        booking_status='successfull'
                    group by day_type;
                  """
            cur.execute(query)
            data=cur.fetchall()
            column=[col[0] for col in cur.description]
            data=pd.DataFrame(data,columns=column)
            print("="*30,"total revenue generated on weekends vs weekdays." ,"="*30)
            print(data)
            print("="*110)
except Exception as e:
    print("Database error:",e)
finally:
    print("ALL DONE")

============================== total revenue generated on weekends vs weekdays. ==============================
  day_type Total_Revenue_Generated
0  Weekend                20248332
1  Weekday                10027235
==============================================================================================================
ALL DONE

### 15. Analyze total revenue by payment method for successful rides.

In [23]:

try:
    with mysql.connector.connect(**connection) as conn:
        with conn.cursor() as cur:
            query="""
                    select 
                        payment_method,
                        sum(booking_value) as total_revenue_by_payment_method_for_successful_rides
                    from
                        bookings
                    where
                        booking_status='successfull'
                    group by payment_method
                    """
            cur.execute(query)
            data=cur.fetchall()
            column=[col[0] for col in cur.description]
            data=pd.DataFrame(data,columns=column)
            print("="*30,"total revenue by payment method for successful rides.","="*30)
            print(data)
            print("="*115)
except Exception as e:
    print("Database error:",e)
finally:
    print("ALL DONE")

============================== total revenue by payment method for successful rides. ==============================
  payment_method total_revenue_by_payment_method_for_successful_rides
0            UPI                                           13604441
1    Credit Card                                            4559546
2           Cash                                            6058153
3      Ola Money                                            2991399
4     Debit Card                                            3062028
===================================================================================================================
ALL DONE

### 16. Find the average driver rating by vehicle type for completed rides.

In [29]:

try:
    with mysql.connector.connect(**connection) as conn:
        with conn.cursor() as cur:
            query="""
                    select 
                        Vehicle_type,
                        avg(Driver_Ratings) as Average_Driver_Rating
                    from
                        bookings
                    where
                        booking_status='successfull'
                    group by Vehicle_type
                    """
            cur.execute(query)
            data=cur.fetchall()
            column=[col[0] for col in cur.description]
            data=pd.DataFrame(data,columns=column)
            print("="*30,"the average driver rating by vehicle type for completed rides","="*30)
            print(data)
            print("="*123)
except Exception as e:
    print("Database error:",e)
finally:
    print("ALL DONE")

============================== the average driver rating by vehicle type for completed rides ==============================
  Vehicle_type  Average_Driver_Rating
0   Prime Plus               4.253306
1         Auto               4.254658
2    Prime SUV               4.251324
3        eBike               4.246040
4         Mini               4.246232
5  Prime Sedan               4.251598
6         Bike               4.243891
===========================================================================================================================
ALL DONE

### 17. Identify the most common reasons for driver cancellations.

In [48]:
try:
    with mysql.connector.connect(**connection) as conn:
        with conn.cursor() as cur:
            query="""
                    select 
                        Driver_Cancel_Reason,
                        count(Driver_Cancel_Reason) as occurence_of_reason
                    from
                        bookings
                    group by Driver_Cancel_Reason
                    order by occurence_of_reason desc;
                    """
            cur.execute(query)
            data=cur.fetchall()
            column=[col[0] for col in cur.description]
            data=pd.DataFrame(data,columns=column)
            print("="*30,"the average driver rating by vehicle type for completed rides","="*30)
            print(data)
            common=data.iloc[0]
            print(f"most common reasons for driver cancellations: {common['Driver_Cancel_Reason']} \n occured {common['occurence_of_reason']} times")
except Exception as e:
    print("Database error:",e)
finally:
    print("ALL DONE")

============================== the average driver rating by vehicle type for completed rides ==============================
                  Driver_Cancel_Reason  occurence_of_reason
0               Customer related issue                 4902
1       The customer was coughing/sick                 4894
2  More than permitted people in there                 4885
3        Personal & Car related issues                 4884
4                                 None                    0
most common reasons for driver cancellations: Customer related issue
 occured 4902 times
ALL DONE

### 18. Identify the most common reasons for customer cancellations.

In [47]:

try:
    with mysql.connector.connect(**connection) as conn:
        with conn.cursor() as cur:
            query="""
                    select 
                        Reason_for_cancelling_by_Customer,
                        count(Reason_for_cancelling_by_Customer) as occurence_of_reason
                    from
                        bookings
                    group by Reason_for_cancelling_by_Customer
                    order by occurence_of_reason desc  ;
                    """
            cur.execute(query)
            data=cur.fetchall()
            column=[col[0] for col in cur.description]
            data=pd.DataFrame(data,columns=column)
            print("="*30,"the most common reasons for customer cancellations.","="*30)
            print(data)
            common=data.iloc[0]
            print(f"most common reasons for customer cancellations: {common['Reason_for_cancelling_by_Customer']} \n occured {common['occurence_of_reason']} times")
except Exception as e:
    print("Database error:",e)
finally:
    print("ALL DONE")

============================== the most common reasons for customer cancellations. ==============================
              Reason_for_cancelling_by_Customer  occurence_of_reason
0                               Change of plans                 2204
1                                 Wrong Address                 1566
2                        Driver asked to cancel                 1499
3  Driver is not moving towards pickup location                 1498
4                             AC is not working                  863
5                                          None                    0
most common reasons for customer cancellations: Change of plans
 occured 2204 times
ALL DONE

### 19. Determine which vehicle type has the highest average ride distance.

In [53]:
# 19. Determine which vehicle type has the highest average ride distance.

try:
    with mysql.connector.connect(**connection) as conn:
        with conn.cursor() as cur:
            query = """
                SELECT 
                   Vehicle_Type ,Round(AVG(Ride_Distance),2) AS Average_Ride_Distance 
                FROM 
                    bookings
                 Group by Vehicle_Type
                 order by Average_Ride_Distance  desc;
            """
            cur.execute(query)

            data = cur.fetchall()
            columns = [col[0] for col in cur.description]

            data = pd.DataFrame(data, columns=columns)
            print("="*20,"the average ride distance for each vehicle type","="*20)
            print(data)
            highest=data.iloc[0]
            print(f" {highest['Vehicle_Type']} has the highest average ride distance of {highest['Average_Ride_Distance']} ")
            print("="*90)

except Exception as e:
    print("Database error:", e)

finally:
    print("Its running")

==================== the average ride distance for each vehicle type ====================
  Vehicle_Type  Average_Ride_Distance
0         Auto                  18.11
1  Prime Sedan                  18.04
2         Mini                  17.91
3        eBike                  17.90
4         Bike                  17.87
5   Prime Plus                  17.85
6    Prime SUV                  17.85
 Auto has the highest average ride distance of 18.11
==========================================================================================
Its running

### 20. Find customers with repeated cancellations (customer behavior risk analysis).

In [63]:
# Find customers with repeated cancellations (customer behavior risk analysis)
try:
    with mysql.connector.connect(**connection) as conn:
        with conn.cursor() as cur:
            query="""
                    SELECT
                        Customer_ID,
                        COUNT(*) AS cancellation_count
                    FROM 
                        bookings
                    WHERE 
                        Cancelled_Rides_by_Customer = 1
                    GROUP BY 
                        Customer_ID
                    HAVING 
                        COUNT(*) > 1
                    ORDER BY 
                        cancellation_count DESC;
                    """
            cur.execute(query)
            data=cur.fetchall()
            column=[col[0] for col in cur.description]
            data=pd.DataFrame(data,columns=column)
            print("="*30,"the most common reasons for customer cancellations.","="*30)
            print(data)
            print("="*112)
except Exception as e:
    print("Database error:",e)
finally:
    print("ALL DONE")

============================== the most common reasons for customer cancellations. ==============================
    Customer_ID  cancellation_count
0     CUST94506                   3
1     CUST74151                   3
2     CUST77418                   3
3     CUST81964                   3
4     CUST29609                   3
..          ...                 ...
311   CUST33077                   2
312   CUST23006                   2
313   CUST11323                   2
314   CUST61351                   2
315   CUST60169                   2

[316 rows x 2 columns]
================================================================================================================
ALL DONE